
.menu {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: crimson;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
}

.menu:hover {
    background-color: crimson;
    color: white;
}

/* ÜST KISIM STİLİ */
.ust {
    
    background-color: #63679c;
    color: #fff;
    height: 80px;
    padding: 5px;
    
}

.ustara {
    display: inline-block;

    background-color: #812626;
    color: #fff;
    width: 20%;
    padding: 1%;
    float: left;
}

.ustbosluk {
    width: 2%;
    float: left;
    
}

/* ORTA KISIM STİLİ */
.ortaust {
    background-color: #eeeeee;
    color: #660066;
    padding: 5px;
    text-align: center;
}

.sekmeler {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.sekmeler-icerik {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: shake 0.5s infinite alternate;
}

@keyframes shake {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}

.sekmeler-icerik:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.sekmeler-icerik img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ALT KISIM STİLİ */
.alt {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

.alt-icerik {
    font-size: 20px;
    font-weight: bold;
    background-color: #ffcccc;
}

/* GENEL STİLLER */
.sifirla {
    clear: both;
}

.bosluk {
    width: 100%;
    height: 10px;
}

.input {
    width: 300px;
}

.giris-kayit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    
  }
  
  .giris-kayit a {
    color: #8315cc;
    text-decoration: none;
    margin-left: 10px;
text-decoration: none;
  }
  
  .giris-kayit a:hover {
    text-decoration: underline;
  }
  .alt-icerik1 {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .alt-icerik1 a {
    text-decoration: none;
    color: #000;
  }
  
  .alt-icerik1 h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .alt-icerik1 p {
    font-size: 16px;
    color: #666;
  }